<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="ExcelFileName" value="Office supplies acquisition table.xlsx"/>
	</appSettings>
	<connectionStrings>
		<add name ="ConnectionStringServer"
			 connectionString = "Server = (LocalDb)\LocalDBDemo; Integrated Security = true"
			 providerName = "System.Data.SqlClient"/>
		<add name ="ConnectionStringDatabase"
			 connectionString = "Server = (LocalDb)\LocalDBDemo; Initial Catalog = ExcelDatabase; Integrated Security = true"
			 providerName = "System.Data.SqlClient"/>
	</connectionStrings>
</configuration>